# Big data / analysis outputs
DemoData/
*.npy
*.npz
*.pkl
*.pickle
*.h5
*.hdf5
*.bin
*.dat
*.mat
*.csv

# Figures
*.png
*.pdf
*.jpg
*.svg
*.tiff

# SpikeInterface outputs & waveform extractions
pipeline/spikeinterface_waveform_extraction/
pipeline/Unitmatch/

# Python cache / misc logs
__pycache__/
.ipynb_checkpoints/
*.pyc
*.log

# Env stuff
.env
.venv/